<!--=============== MAIN ===============-->
<main class="main">
    <!--=============== BREADCRUMB ===============-->
    <app-banner [titre1]="title1" [titre2]="title2" ></app-banner>

  
     <!--=============== LOGIN ================-->
     <section class="login-register section--lg center-section ">
        <div class="login-register__container container grid">
            <div class="login">
                <h3 class="section__title">Forgot Password</h3>
                <span>
                    Enter your Email and we'll send you instructions on how to reset your password.
                </span>
                <form class="form grid" style="margin-top: 20px;" [formGroup]="forgotForm">
                    <input formControlName="email" type="email" name="Email" placeholder="Your Email"
                        class="form__input" />
                    <div *ngIf="forgotForm.get('email')?.invalid && (forgotForm.get('email')?.dirty || forgotForm.get('email')?.touched)"
                        style="color: hsl(341, 100%, 73%);">
                        <div *ngIf="forgotForm.get('email')?.errors?.['required']">
                            Email is required
                        </div>
                        <div *ngIf="forgotForm.get('email')?.errors?.['pattern']">
                            Email format is invalid
                        </div>
                    </div>
                    <div class="form__btn">
                        <button class="btn" type="submit" (click)="submit()" [disabled]="forgotForm.invalid"  [ngClass]="{'no-hover': forgotForm.invalid}">Submit</button>
                        <button class="cancel-btn" routerLink="/login"  >Cancel</button>
                    </div>
                </form>

            </div>


        </div>
    </section>
  
  </main>
  
 
  