<main class="main">
  <app-banner [titre1]="title1" [titre2]="title2"></app-banner>

  <app-details-order
    *ngIf="showOrderDetails"
    [order]="orderDetails"
    (close)="closeOrderDetails()"
  ></app-details-order>

  <section class="accounts section-lg">
    <div class="accounts-container container grid">
      <div class="account-tabs">
        <p
          class="account-tab"
          [ngClass]="{ 'active-tab': activeTab === 'profile' }"
          (click)="setActiveTab('profile')"
        >
          <i class="ri-dashboard-line"></i> Profile
        </p>
        <p
          class="account-tab"
          [ngClass]="{ 'active-tab': activeTab === 'orders' }"
          (click)="setActiveTab('orders')"
        >
          <i class="ri-shopping-bag-line"></i> Orders
        </p>
        <p
          class="account-tab"
          [ngClass]="{ 'active-tab': activeTab === 'update-profile' }"
          (click)="setActiveTab('update-profile')"
        >
          <i class="ri-user-line"></i> Update Profile
        </p>
        <p
          class="account-tab"
          [ngClass]="{ 'active-tab': activeTab === 'address' }"
          (click)="setActiveTab('address')"
        >
          <i class="ri-map-pin-line"></i> My Address
        </p>

        <p
          class="account-tab"
          [ngClass]="{ 'active-tab': activeTab === 'change-password' }"
          (click)="setActiveTab('change-password')"
        >
          <i class="ri-lock-2-line"></i> Change Password
        </p>
        <p class="account-tab" (click)="logout()">
          <i class="ri-logout-box-line"></i> Logout
        </p>
      </div>

      <div class="tabs-content">
        <!-- Profile Tab Content -->
        <div
          class="tab-content"
          [ngClass]="{ 'active-tab': activeTab === 'profile' }"
        >
          <h3 class="tab-header">Hello {{ user.username || "Client" }}</h3>
          <div class="tab-body">
            <div class="profile-container">
              <!-- Left Column - User Details -->
              <div class="profile-details">
                <!-- Username -->
                <div class="profile-field" *ngIf="user?.username">
                  <span class="label">Username:</span>
                  <span class="value">{{ user.username }}</span>
                </div>

                <!-- Email -->
                <div class="profile-field" *ngIf="user?.email">
                  <span class="label">Email:</span>
                  <span class="value">{{ user.email }}</span>
                </div>

                <!-- Phone -->
                <div class="profile-field" *ngIf="user?.phone">
                  <span class="label">Phone:</span>
                  <span class="value">{{ user.phone }}</span>
                </div>

                <!-- Date of Birth -->
                <div class="profile-field" *ngIf="user?.dateOfBirth">
                  <span class="label">Date of Birth:</span>
                  <span class="value">{{
                    user.dateOfBirth | date : "mediumDate"
                  }}</span>
                </div>
              </div>
            </div>

            <!-- Message if no user data -->
            <div class="no-data" *ngIf="!user">No user data available</div>
          </div>
        </div>

        <!-- Orders Tab Content -->
        <div
          class="tab-content"
          [ngClass]="{ 'active-tab': activeTab === 'orders' }"
        >
          <h3 class="tab-header">Your Orders</h3>
          <div class="tab-body">
            <table class="placed-order-table">
              <thead>
                <tr>
                  <th>Orders</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Total</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders; let i = index">
                  <td>#{{ i + 1 }}</td>
                  <td>{{ order.date | date: 'MMMM d, y' }}</td>
                  <td [ngClass]="{
                    'text-pending': order.status === 'pending',
                    'text-canceled': order.status === 'canceled',
                    'text-delivered': order.status === 'delivered',
                    'text-confirmed': order.status === 'confirmed'
                  }">
                    {{ order.status }}
                  </td>
                  <td>${{ order.totalPrice.toFixed(2) }}</td>
                  <td>
                    <a (click)="loadOrderDetails(order._id)" class="view-order">
                      <i class="ri-eye-line"></i>
                    </a>
                    <button class="cancel_order"
                    *ngIf="order.status === 'pending'"
                      [ngClass]="{ 'btn-cancel': order.status === 'pending' }"
                      [disabled]="order.status !== 'pending'"
                    (click)="cancelOrder(order._id, order.status)">
                      Cancel Order
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Update Profile Tab Content -->
        <div
          class="tab-content"
          [ngClass]="{ 'active-tab': activeTab === 'update-profile' }"
        >
          <h3 class="tab-header">Update Profile</h3>
          <app-update-profile [user]="user"></app-update-profile>
        </div>

        <!-- Address Tab Content -->
        <div
          class="tab-content"
          [ngClass]="{ 'active-tab': activeTab === 'address' }"
        >
          <h3 class="tab-header">Shipping Address</h3>

          <div *ngIf="!editAddress && user.address" class="tab-body">
            <address class="address">
              <p class="address-field">
                <strong>Street:</strong> {{ user.address.street }}
              </p>
              <p class="address-field">
                <strong>City:</strong> {{ user.address.city }}
              </p>
              <p class="address-field">
                <strong>Postal Code:</strong> {{ user.address.zipCode }}
              </p>
              <p class="address-field">
                <strong>Country:</strong> {{ user.address.country }}
              </p>
            </address>
            <div>
              <button class="edit_btn btn" (click)="editAddress = true">
                Edit Address
              </button>
            </div>
          </div>

          <div *ngIf="!user.address" class="tab-body">
            <p class="no-address">No address found</p>
            <button class="edit_btn btn" (click)="editAddress = true">
              Add Address
            </button>
          </div>

          <div *ngIf="editAddress" class="tab-body">
            <form
              class="form grid"
              (ngSubmit)="editAddressForm()"
              #addressForm="ngForm"
            >
              <div class="form-group">
                <label for="streetAddress" class="form-label"
                  >Street Address</label
                >
                <input
                  type="text"
                  id="streetAddress"
                  class="form-input"
                  [(ngModel)]="user.address.street"
                  name="street"
                  required
                  aria-required="true"
                />
              </div>

              <div class="form-group">
                <label for="city" class="form-label">City</label>
                <input
                  type="text"
                  id="city"
                  class="form-input"
                  [(ngModel)]="user.address.city"
                  name="city"
                  required
                  aria-required="true"
                />
              </div>

              <div class="form-group">
                <label for="postalCode" class="form-label">Zip Code</label>
                <input
                  type="text"
                  id="postalCode"
                  class="form-input"
                  [(ngModel)]="user.address.zipCode"
                  name="postalCode"
                  required
                  aria-required="true"
                  pattern="[0-9]{4}?"
                />
              </div>

              <div class="form-group">
                <label for="country" class="form-label">Country</label>
                <input
                  type="text"
                  id="country"
                  class="form-input"
                  [(ngModel)]="user.address.country"
                  name="country"
                  required
                  aria-required="true"
                />
              </div>

              <div class="form-btn-group">
                <button
                  type="submit"
                  class="btn btn-md btn-primary"
                  [disabled]="addressForm.invalid"
                  (click)="editAddressForm()"
                >
                  Save Address
                </button>
                <button
                  type="button"
                  class="btn btn-md btn-secondary"
                  (click)="onCancel()"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Change Password Tab Content -->
        <div
          class="tab-content"
          [ngClass]="{ 'active-tab': activeTab === 'change-password' }"
        >
          <h3 class="tab-header">Change Password</h3>
          <div class="tab-body">
            <form class="form grid" (ngSubmit)="changePassword()" #form="ngForm">
              <input
                type="password"
                placeholder="Current Password"
                class="form-input"
                [(ngModel)]="currentPassword"
                name="currentPassword"
                #pass="ngModel"
                required
              />
              <input
                type="password"
                placeholder="New Password"
                class="form-input"
                [(ngModel)]="newPassword"
                name="newPassword"
                minlength="8"
                #newPass="ngModel"
                required
              />
              <input
                type="password"
                placeholder="Confirm Password"
                class="form-input"
                [(ngModel)]="repeatPassword"
                name="repeatPassword"
                minlength="8"
                #repeatPass="ngModel"
                required
              />
              
              <div class="form-btn">
                <button class="btn btn-md" type="submit" [disabled]="form.invalid">Save</button>
              </div>
              <div *ngIf="newPass.invalid && newPass.touched" class="error">
                <small *ngIf="newPass.errors?.['required']">Password is required.</small>
                <small *ngIf="newPass.errors?.['minlength']">Must be at least 8 characters.</small>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
