<!-- Breadcrumb Section -->
<section class="breadcrumb"  style="padding-top: 20px;padding-bottom:20px;">
  <ul class="breadcrumb-list flexitem container">
    <li><a routerLink="/" class="breadcrumb-link">Home</a></li>
    <li><span class="breadcrumb-link">></span></li>
    <li><span class="breadcrumb-link">Shop</span></li>
    <li><span class="breadcrumb-link">></span></li>
    <li><span class="breadcrumb-link">Cart</span></li>
  </ul>
</section>
<div *ngIf="cartItems.length === 0" class="empty-cart text-center">
  <h2 class="section-title">Your cart is empty 🛒</h2>
  <p>Looks like you haven't added anything yet.</p>
  <a routerLink="/" class="btn flexitem btn-md mt-4 btn-small">
    <i class="ri-arrow-left-line"></i> Continue Shopping
  </a>
</div>
<!-- Cart Section -->
<section *ngIf="cartItems.length > 0" class="cart section-lg container">
  <div class="table-container">
    <table class="table">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Remove</th>
      </tr>

      <tr *ngFor="let item of cartItems; let i = index">
        <td>
          <img
            [routerLink]="['/product-details', item._id]"
            [src]="item.images"
            [alt]="item.name"
            class="table-img"
          />
        </td>
        <td>
          <h3 class="table-title" [routerLink]="['/product-details', item.productId]">
            {{ item.name }}
          </h3>
        </td>
        <td>
          <span class="table-price">${{ item.price }}</span>
        </td>
        <td>
          <div class="quantity-controls">
            <button
              (click)="decreaseQuantity(i)"
              class="quantity-btn"
              [disabled]="item.quantity <= 1"
            >
              <i class="ri-subtract-line"></i>
            </button>
            <input
              type="number"
              [(ngModel)]="item.quantity"
              (ngModelChange)="onQuantityChange(i, $event)"
              (blur)="validateQuantity(i)"
              class="quantity-value"
              min="1"
              max="99"
            />
            <button
              (click)="increaseQuantity(i)"
              class="quantity-btn"
              [disabled]="item.quantity >= 99"
            >
              <i class="ri-add-line"></i>
            </button>
          </div>
        </td>
        <td>
          <span class="table-subtotal">${{ item.price * item.quantity }}</span>
        </td>

        <td>
          <i class="ri-delete-bin-line table-trash" (click)="removeItem(item.productId)"></i>
        </td>
      </tr>
    </table>
  </div>

  <div class="cart-actions">
    <button class="btn flexitem btn-md" (click)="updateCart()">
      <i class="ri-shuffle-line"></i> Update Cart
    </button>
    <a routerLink="/" class="btn flexitem btn-md">
      <i class="ri-shopping-bag-line"></i> Continue Shopping
    </a>
  </div>

  <div class="divider">
    <i class="ri-fingerprint-line"></i>
  </div>

  <div class="cart-group grid">
    <div>
      <div class="cart-coupon">
        <h3 class="section-title">Apply Coupon</h3>

        <div class="coupon-form form grid">
          <div class="form-group grid">
            <input type="text" class="form-input" placeholder="Enter Your Coupon" [(ngModel)]="enteredCouponCode" />
            <div class="form-btn">
              <button type="button" class="btn flexitem btn-sm" (click)="applyCoupon()" [disabled]="!enteredCouponCode.trim()">
                <i class="ri-coupon-2-line"></i> Apply
              </button>
            </div>
          </div>
          <p *ngIf="couponMessage" style="color: red;">
            {{ couponMessage }}
          </p>
        </div>
      </div>
    </div>

    <div class="cart-total">
      <h3 class="section-title">Cart Totals</h3>

      <table class="cart-total-table">
        <tr>
          <td><span class="cart-total-title">Cart Subtotal</span></td>
          <td>
            <span class="cart-total-price">${{ cartSubtotal.toFixed(2) }}</span>
          </td>
        </tr>
        <tr>
          <td><span class="cart-total-title">Discount</span></td>
          <td>
            <span class="cart-total-price">-{{ appliedDiscount }}%</span>
          </td>
        </tr>
        <tr>
          <td><span class="cart-total-title">Shipping</span></td>
          <td>
            <span class="cart-total-price">${{ shipping.toFixed(2) }}</span>
          </td>
        </tr>


        <tr>
          <td><span class="cart-total-title">Total</span></td>
          <td>
            <span class="cart-total-price">${{ total.toFixed(2) }}</span>
          </td>
        </tr>
      </table>

      <a  class="btn flexitem btn-md" routerLink="/checkout" (click)="proceedToCheckout()">
        <i class="ri-edit-box-line"></i> Proceed To Checkout
      </a>
    </div>
  </div>
</section>