<div class="tables-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        <div class="title d-flex flex-wrap justify-content-between align-items-center" style="padding: 20px">
          <div class="left">
            <h6 class="mb-10">Categories Management</h6>
          </div>
          <div class="right">
            <a class="main-btn primary-btn rounded-full btn-hover" data-bs-toggle="modal" data-bs-target="#addCategoryModel">
              <i class="lni lni-plus"></i> Add Category
            </a>
          </div>
        </div>

        <div class="table-wrapper table-responsive" style="padding: 30px;">
          <table class="table">
            <thead>
              <tr>
                <th class="lead-info">
                  <h6>Category Name</h6>
                </th>
                <th>
                  <h6>Action</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td class="min-width">
                  <div class="lead">
                    <div class="lead-text">
                      <p>{{ category.Catname }}</p>
                    </div>
                  </div>
                </td>

                <td class="min-width">
                  <button class="text-danger" (click)="deleteCategory(category._id)">
                    <i class="lni lni-trash-can"></i>
                  </button>
                  <button style="color:#005b8f; padding-left: 10px;" (click)="editCategory(category)" data-bs-toggle="modal" data-bs-target="#editCategoryModel">
                    <i class="lni lni-pencil"></i>
                  </button> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Category Modal -->
<div class="modal fade" id="addCategoryModel" tabindex="-1" aria-labelledby="addCategoryModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModelLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-2" placeholder="Category Name" [(ngModel)]="newCategoryName" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-btn btn-btn-primary" data-bs-dismiss="modal" (click)="addCategory()">Save changes</button>
        <button type="button" class="btn-btn btn-btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Category Modal -->
<div class="modal fade" id="editCategoryModel" tabindex="-1" aria-labelledby="editCategoryModel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="editingCategory">
          <input type="text" class="form-control mb-2" [(ngModel)]="editingCategory.Catname" placeholder="Edit category">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-btn btn-btn-primary" data-bs-dismiss="modal" (click)="updateCategory()">Save changes</button>
        <button type="button" class="btn-btn btn-btn-secondary" data-bs-dismiss="modal" (click)="cancelEdit()">Close</button>
      </div>
    </div>
  </div>
</div>
