<div class="confirmation-container">
    <div class="confirmation-box">
      <h2 class="confirmation-header">🎉 Order Confirmed!</h2>
      <p class="confirmation-message">
        Hey there! Your order has been successfully confirmed. We’re processing it now and will notify you once it's on its way.
      </p>
      <div class="confirmation-action">
        <button (click)="goHome()" class="confirmation-button">Back to Home</button>
      </div>
      <div class="footer">
        <p>Need help? <a href="mailto:support@yourstore.com">Contact us</a></p>
        <p class="footer-info">&copy; 2025 test. All rights reserved.</p>
      </div>
    </div>
  </div>
  